@font-face {
  font-family: "Audiowide";
  src: local(Audiowide-Regular), url(../fonts/Audiowide-Regular.ttf);
}

@font-face {
  font-family: "BaiJamjuree";
  src: local(BaiJamjuree-Regular), url(../fonts/BaiJamjuree-Regular.ttf);
}

/* Imagem video e caixa do poster e do trailer*/
.conteiner1 {
  margin-left: 15%;
  margin-top: 5%;
  height: 90vh;

}




@media (max-width:870px) {
  .conteiner1 {
    margin-left: 2%;

    height: 90vh;

  }
}



.posterEtrailer {
  float: left;
  margin-right: 3%;
  margin-bottom: 10%;

}

@media (max-width:770px) {
  .teste {
    width: 100%;
    height: 600px;

  }

}



@media (max-width: 770px) {
  .posterEtrailer {

    position: absolute;
    left: 50%;
    transform: translate(-50%);


  }
}



img {
  width: 300px;
  height: 400px;

  border-radius: 10px;
}

@media (max-width:400px) {
  img {
    width: 250px;
    height: 300px;

    border-radius: 10px;
  }

  .imagem {
    margin-left: 25px;
  }
}

iframe {
  border-radius: 10px;
  margin-top: 10%;

}

@media (max-width:400px) {
  iframe {
    border-radius: 10px;
    margin-top: 10%;

    width: 300px;
  }


}



/* Imagem video e caixa do poster e do trailer FIM*/

/*titulo do filme , genero e descrição*/

.boxTexto {

  text-align: justify;
  margin-right: 15%;
}



@media (max-width:770px) {
  .boxTexto {
    text-align: justify;
    margin-top: 6%;
  }

}





.boxTexto {
  font-family: "BaiJamjuree";
  color: white;
}

.titulo {
  text-align: left;
  font-weight: bold;
  font-size: 4em;
}

@media (max-width:770px) {
  .titulo {
    letter-spacing: 2px;
    font-size: 2em;
    text-align: center;

  }
}

.estilodoFilme {
  margin-top: 6%;
  letter-spacing: 2px;

}

.descricao {

  letter-spacing: 1px;
  margin-top: 6%;


}


/*Botões de Audio, Dia e Horário*/

.ingressos {
  margin-top: 4%;
}


/*titulo do filme , genero e descrição FIM*/


/* Botao de Comprar ingresso*/
.boxButton3 {

  margin-top: 3%;
  margin-left: 27%;
}

button {
  outline: none;
  background-color: #e7FF2c;
  border: none;
  color: #322f2f;
  font-size: 1.2em;
  padding: 10px 20px 10px 20px;
  font-family: "BaiJamjuree";
  border-radius: 10px;
}

button:hover {
  background-color: #e6ff2ca4;
  cursor: pointer;
  transition: 0.2s;

}

button:active {
  background-color: #e6ff2c4d;
}


/* INPUT RADIO*/
input {
  display: none;
}

/* Classes que afetam os botões em geral .box , .boxIndividual*/
.box0:hover {
  cursor: pointer;
}

.boxButton {
  margin-bottom: 2%;
}

/*AREA DE BOTÕES SELECIONADOS*/

/* 1 */
.boxIndividual1 {

  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;

}

@media (max-width:1024px) {
  .boxIndividual1 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividual1:first-child {
  margin-left: 0%;
}

.boxIndividual1 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  color: white;
  font-family: "BaiJamjuree";
}

.boxIndividual1:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividual1:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}

/* 2 */

.boxIndividual2 {

  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;

}

@media (max-width:1024px) {
  .boxIndividual2 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividual2:first-child {
  margin-left: 0%;
}

.boxIndividual2 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  font-family: "BaiJamjuree";
  color: white;
}

.boxIndividual2:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividual2:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}

/* 3 */
.boxIndividual3 {

  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;

}

@media (max-width:1024px) {
  .boxIndividual3 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividual3:first-child {
  margin-left: 0%;
}

.boxIndividual3 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  font-family: "BaiJamjuree";
  color: white;
}

.boxIndividual3:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividual3:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}

/* 4 */
.boxIndividual4 {

  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;

}

@media (max-width:1024px) {
  .boxIndividual4 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividual4:first-child {
  margin-left: 0%;
}

.boxIndividual4 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  font-family: "BaiJamjuree";
  color: white;
}

.boxIndividual4:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}

.boxIndividual4:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}

/* 5 */
.boxIndividual5 {

  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;

}

@media (max-width:1024px) {
  .boxIndividual5 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividual5:first-child {
  margin-left: 0%;
}

.boxIndividual5 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  font-family: "BaiJamjuree";
  color: white;
}

.boxIndividual5:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividual5:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}

/* 6 */
.boxIndividual6 {

  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;

}

@media (max-width:1024px) {
  .boxIndividual6 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividual6:first-child {
  margin-left: 0%;
}

.boxIndividual6 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  font-family: "BaiJamjuree";
  color: white;
}

.boxIndividual6:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividual6:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}

/* 7 */
.boxIndividual7 {

  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;

}

@media (max-width:1024px) {
  .boxIndividual7 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividual7:first-child {
  margin-left: 0%;
}

.boxIndividual7 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  font-family: "BaiJamjuree";
  color: white;
}

.boxIndividual7:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividual7:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}


/* Botões Marcados*/
#dia1:checked~.boxButton .boxIndividual1 {
  background-color: #E7FF2C;
  color: #322f2f;
}

#dia2:checked~.boxButton .boxIndividual2 {
  background-color: #E7FF2C;
  color: #322f2f;
}

#dia3:checked~.boxButton .boxIndividual3 {
  background-color: #E7FF2C;
  color: #322f2f;
}

#dia4:checked~.boxButton .boxIndividual4 {
  background-color: #E7FF2C;
  color: #322f2f;
}

#dia5:checked~.boxButton .boxIndividual5 {
  background-color: #E7FF2C;
  color: #322f2f;
}

#dia6:checked~.boxButton .boxIndividual6 {
  background-color: #E7FF2C;
  color: #322f2f;
}

#dia7:checked~.boxButton .boxIndividual7 {
  background-color: #E7FF2C;
  color: #322f2f;
}


/*Botões de selção de Horário*/

/* 1 */

.boxIndividualH1 {

  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;
  cursor: pointer;


}

@media (max-width:1024px) {
  .boxIndividualH1 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividualH1:first-child {
  margin-left: 0%;
}

.boxIndividualH1 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  color: white;
  font-family: "BaiJamjuree";
}

.boxIndividualH1:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividualH1:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}

/* 2 */
.boxIndividualH2 {

  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;
  cursor: pointer;


}

@media (max-width:1024px) {
  .boxIndividualH2 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividualH2:first-child {
  margin-left: 0%;
}

.boxIndividualH2 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  color: white;
  font-family: "BaiJamjuree";
}

.boxIndividualH2:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividualH2:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}

/* 3 */
.boxIndividualH3 {

  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;
  cursor: pointer;


}

@media (max-width:1024px) {
  .boxIndividualH3 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividualH3:first-child {
  margin-left: 0%;
}

.boxIndividualH3 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  color: white;
  font-family: "BaiJamjuree";
}

.boxIndividualH3:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividualH3:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}

/* 4 */
.boxIndividualH4 {

  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;
  cursor: pointer;


}

@media (max-width:1024px) {
  .boxIndividualH4 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividualH4:first-child {
  margin-left: 0%;
}

.boxIndividualH4 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  color: white;
  font-family: "BaiJamjuree";
}

.boxIndividualH4:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividualH4:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}

/* 5 */
.boxIndividualH5 {

  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;
  cursor: pointer;


}

@media (max-width:1024px) {
  .boxIndividualH5 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividualH5:first-child {
  margin-left: 0%;
}

.boxIndividualH5 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  color: white;
  font-family: "BaiJamjuree";
}

.boxIndividualH5:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividualH5:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}

/* Botões Marcados*/

#horario1:checked~.boxButton2 .boxIndividualH1 {
  background-color: #E7FF2C;
  color: #322f2f;
}

#horario2:checked~.boxButton2 .boxIndividualH2 {
  background-color: #E7FF2C;
  color: #322f2f;
}

#horario3:checked~.boxButton2 .boxIndividualH3 {
  background-color: #E7FF2C;
  color: #322f2f;
}

#horario4:checked~.boxButton2 .boxIndividualH4 {
  background-color: #E7FF2C;
  color: #322f2f;
}

#horario5:checked~.boxButton2 .boxIndividualH5 {
  background-color: #E7FF2C;
  color: #322f2f;
}

/*************************OPÇÃO DE AUDIO*********************************/
.boxButton4 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: inline-block;
}


.boxIndividualAudio1 {
  margin-right: 10px;
  text-align: center;
  width: 100px;
  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;
  cursor: pointer;


}

@media (max-width:1024px) {
  .boxIndividualAudio1 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividualAudio1 {
  margin-left: 0%;
}

.boxIndividualAudio1 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  color: white;
  font-family: "BaiJamjuree";
}

.boxIndividualAudio1:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividualAudio1:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}



.boxIndividualAudio2 {
  text-align: center;
  width: 100px;
  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;
  cursor: pointer;


}

@media (max-width:1024px) {
  .boxIndividualAudio2 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividualAudio2 {
  margin-left: 0%;
}

.boxIndividualAudio2 {
  margin-right: 10px;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  color: white;
  font-family: "BaiJamjuree";
}

.boxIndividualAudio2:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividualAudio2:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}



.boxIndividualAudio3 {
  text-align: center;
  width: 100px;
  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;
  cursor: pointer;


}

@media (max-width:1024px) {
  .boxIndividualAudio3 {

    display: inline-block;
    margin-top: 3%;
    margin-left: 1%;

  }
}


.boxIndividualAudio3 {
  margin-left: 0%;
}

.boxIndividualAudio3 {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #e6ff2c3a;
  color: white;
  font-family: "BaiJamjuree";
}

.boxIndividualAudio3:hover {
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  border: 1px solid #E7FF2C;
  font-family: "BaiJamjuree";
  cursor: pointer;
}


.boxIndividualAudio3:active {
  background-color: #E7FF2C;
  border-radius: 10px;
  padding: 7px 4px 7px 4px;
  color: #322f2f;
  transition: 0.3s;
  cursor: pointer;
}

/************************SELEÇÃO DE AUDIO**************************************/


#audio1:checked~.boxButton4 .boxIndividualAudio1 {
  background-color: #E7FF2C;
  color: #322f2f;
}

#audio2:checked~.boxButton4 .boxIndividualAudio2 {
  background-color: #E7FF2C;
  color: #322f2f;
}

#audio3:checked~.boxButton4 .boxIndividualAudio3 {
  background-color: #E7FF2C;
  color: #322f2f;
}