#blocoTable {
    float: left;
}

#titulo {
    font-family: "Audiowide";
    color: #f7f7f7;
    font-size: 2em;
    text-align: center;
    margin-bottom: 5%;
}

#titulo2 {
    font-family: "Audiowide";
    color: #f7f7f7;
    font-size: 2em;
    text-align: center;
    margin-bottom: 5%;
}

/* TABELA 1 COM A NOTICIA CENTRAL*/
#table1 {
    width: 50vw;
    height: 50vh;

    margin-bottom: 3vh;
    margin-left: 8vw;


}

/*TABELA3*/

#table2 {
    width: 50vw;
    height: 50vh;

    margin-bottom: 3vh;
    margin-left: 8vw;

}

/*BOX LATERAL*/

#boxLateral {
    background-color: #322F2F;
    width: 365px;

    padding: 20px 5px 20px 5px;
    border-radius: 10px;
}

.bloco {
    width: 330px;
    height: 180px;
    background-color: #322F2F;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    margin-bottom: 30px;

    border: 1px solid #e7ff2c;
    border-radius: 10px;
}

.bloco:hover {
    cursor: pointer;
    border: 1px solid #e7ff2c;
}

#texto1 {
    font-size: 16px;
    color: aliceblue;
    font-family: "BaiJamjuree";
    margin-top: 30px;

}

.imagem {
    width: 150px;
    height: 120px;
    float: left;
    padding: 10px;
    border-radius: 5px;
}

.imagem img {
    width: 100%;
    height: 100%;

}

#table2 tr td {
    width: 33%;
}

#table1 img {
    width: 100%;
    border-radius: 10px;

}

#table2 tr td img {
    width: 94%;
    height: 100%;
}

.linkText {
    font-size: 1.5rem;
}

.linkText:hover {
    text-decoration: underline;
    color: #e7ff2c;
    cursor: pointer;
}

.texto {
    font-family: "BaiJamjuree";
    text-align: center;
    font-size: 1.3em;
    color: aliceblue;
}

right-text {
    font-size: 1.2rem;
}

@media (max-width:720px) {
    .texto {

        text-align: center;
        font-size: 0.7em;
        color: aliceblue;
    }


    .right-text {
        font-size: 70%;
    }
}

@media (min-width:1148px) {
    #boxLateral {
        position: absolute;
        right: 100px;
        top: 250px;
    }
}

@media (max-width:1147px) {
    #table1 {
        justify-content: center;
        width: 100%;
        height: 100%;

        margin-bottom: 3vh;
        margin-left: 2vw;
        margin-right: 4vw;

    }


}

@media (max-width:1147px) {
    #table2 {
        width: 100%;
        height: 25vh;

        margin-bottom: 3vh;
        margin-left: auto;
        margin-right: 4vw;

    }
}