@font-face {
    font-family: "Audiowide";
    src: local(Audiowide-Regular), url(../fonts/Audiowide-Regular.ttf);
}

@font-face {
    font-family: "BaiJamjuree";
    src: local(BaiJamjuree-Regular), url(../fonts/BaiJamjuree-Regular.ttf);
}



* {
    margin: 0;
    padding: 0;
}

/*--------- navbar start----------*/



.logo {
    font-size: 2.5em;
    font-family: "Audiowide";
    color: #E7FF2C;
    text-transform: uppercase;
    letter-spacing: 4px;
    float: left;
}

.textoMAIN {
    font-family: "BaiJamjuree";
    color: white;
}

body {
    background-color: #322F2F;
}

a {
    color: #FFF;
    text-decoration: none;
    transition: 0.3;
}

a:hover {
    opacity: 0.7;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system ui, -apple-system, Arial, Helvetica, sans-serif;
    height: 20vh;
    background-color: #322F2F;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #FFF;
    margin: 8px;
    transition: 0.3s;
}
/*--------- navbar end----------*/

/*--------- slider showtime start----------*/

.container {
    width: auto;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
}

.container ul {
    list-style: none;
}

.box {
    width: 350px;
    height: 550px;
    background-color: #322F2F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 0px;
}

.box:hover {
    border: 1px solid #E7FF2C;
    background-color: #1c1b1b;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}

.box a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showtime {
    height: 350px;
    max-height: 100%;
    max-width: 100%;
    margin: 20px;
}

.details {
    float: left;
    width: 300px;
    margin: 5px;
    margin-left: 70px;
}

.details p {
    color: lightgray;
    margin-top: 10px;
}

#movie-title {
    font-family: "Audiowide";
    font-size: 30px;
}

.movie-details {
    font-family: "BaiJamjuree";
}

/*--------- slider showtime end----------*/

.showtime-title {
    width: 75%;
    height: 10vh;
    display: flex;
    margin-top: 20px;
    margin-left: 15vw;
}

.showtime-title p {
    font-family: "Audiowide";
    font-size: 30px;
    color: #FFF;
    display: block;
    float: right;
}
#subtitulo {
    font-size: 2em;
    color: white;
    font-family: "Audiowide";
}

/*--------- services start----------*/
.services {
    background-color: #F6F9FF;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    padding: 32px;
}

.card {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border-radius: 8px;
    padding: 32px 16px;
    max-height: 370px;
    margin-left: 32px;
    box-shadow: 20px 20px 50px -30px;
}

.card h3 {
    font-family: "Audiowide";
    margin: 16px 0;
}

.card span {
    font-family: "BaiJamjunree";
    font-weight: 300;
    max-width: 240px;
    margin-bottom: 16px;
}

.card01 {
    margin-left: 0;
}

.card button {
    padding: 14px 16px;
    width: 120px;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    background: linear-gradient(to right, #E7FF2C, #e5e9c5);
}

.card button:hover {
    background: linear-gradient(to right, #657014, #e5e9c5fa);
}

.card button:active {
    background: linear-gradient(to right, #41490d, #e5e9c5);
}

.icon {
    width: 64px;
    height: 64px;
}

.icon img {
    width: 100%;
}

/*--------- services end----------*/

/*--------- coming soon start----------*/


.coming-soon-title {
    width: 100vh;
    height: 10vh;
    display: flex;
    margin-top: 20px;
    margin-left: 150px;
}

.coming-soon-title p {
    font-family: "Audiowide";
    font-size: 30px;
    color: #FFF;
    display: block;
    float: right;
}

.items-wrapped {
    width: 100vh;
    height: 50vh;
    margin: 10px;
}

.items {
    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow-x: auto;
}

.tituloProduto {
    font-family: "Audiowide";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -35vh);

}

.items .coming-soon {
    width: 200px;
    height: 300px;
}


/*--------- coming soon end----------*/
.textoFOOTER {
    font-family: "BaiJamjuree";
    font-size: 1em;
    text-align: center;
}

.boxIcones {
    display: inline-block;
    background-color: #F6F9FF;
    width: 100%;
    justify-content: center;
    margin-top: 4vh;
}

.boxIcones picture img {

    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.boxIMG {
    position: relative;

    left: 50%;
    transform: translate(-50%);
    width: 145px;
    margin-bottom: 2.5%;
}

.textoFOOTER a {
    color: #1c1b1b;
}

.textoFOOTER a:hover {
    color: #1c1b1b;
    text-decoration: underline;

}


/****************************************MEDIA QUERY***********************************************/
@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .logo{
        font-size: 2rem;
    }
    #subtitulo{
        font-size: 1px;
    }
    .nav-list {

        position: absolute;
        top: 19vh;
        right: 0;
        width: 100vw;
        height: 100%;
        background-color: #322F2F;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1000;

    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    .services {
        height: auto;
        flex-direction: column;
    }

    .services:last-child{
        margin-bottom: 0px;
    }

    .card{
        margin-left: 0px;
        margin-bottom: 10px;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}