.conteiner2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

}

.titulo {
    text-align: center;
    color: white;
    font-size: 3em;
    font-family: "Audiowide";
    color: #e7ff2c;

}


.texto {
    font-family: "BaiJamjuree";
    color: white;
    margin-top: 3%;
}

.numeroDoCartao {
    margin-bottom: 2%;
}

.boxDoNome {
    margin-top: 3%;
    margin-bottom: 3%;
}


.boxInput {
    background-color: #322f2f;
    outline: none;
    border-radius: 5px;
    padding: 12px 6px 12px 6px;
    border: solid 1px #e7ff2c;
    color: white;
}

.boxButton {
    text-align: center;
}



button {
    outline: none;
    background-color: #e7ff2c;
    font-size: 1.2em;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    border: none;
}

@media (max-width: 640px) {
    button {
        outline: none;
        background-color: #e7ff2c;
        font-size: 0.8em;
        border-radius: 10px;
        padding: 7px 12px 7px 12px;
        border: none;
    }

    .label1 {
        margin-bottom: 1%;
    }
    input {
        width: 80%;
    }

}



@media (min-width:640px) {
    .label1 {
        float: left;
        margin-right: 4%;
    }
}



button:hover {
    background-color: #e6ff2ca8;
    cursor: pointer;
    transition: 0.3s;
}

button:active {
    background-color: #e6ff2c44;
    cursor: pointer;
    transition: 0.3s;
}